# --- Machine Learning ---
tensorflow==2.12.0
keras==2.12.0
h5py==3.13.0
numpy==1.23.5
scipy==1.15.3
opencv-python==4.7.0.72

# --- Streamlit App ---
streamlit==1.45.1
pandas==2.2.3
pillow==11.2.1
fpdf==1.7.2

# --- Download de arquivos ---
gdown==5.2.0
requests==2.32.3

# --- Utilidades ---
python-dateutil==2.9.0.post0
typing_extensions==4.13.2
six==1.17.0
